body {
  background-color: #531;
}

.deck-discard {
  margin-left: 37%;
}

.deck, .discard {
  display: inline-block;
}

.deck, .discard img, #opponent-hand img, .melds img {
  width: 50px;
}

.opponent {
  text-align: right;
}

header, .game, footer {
  max-width: 700px;
  margin: auto;
  padding: 1%;
}

header, footer {
  background-color: white;
}

.game {
  background-color: #060;
}

ul {
  list-style: none;
  padding: 0;
}

.meld {
  display: inline-block;
}

li {
  display: inline-block;
  margin: 0.2em;
}

.hand li {
  text-indent:-35px;
}

.discard li, .meld li {
  text-indent:-40px;
}

.hand li:first-child, .discard li:first-child, .meld li:first-child {
  text-indent:0;
}

.selected {
  box-shadow: 0 0 3px 5px #08f;
}

.button {
  background-color: #097;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;
  color: black;
  text-decoration: none;
}

.button:hover {
  background-color: #0f7;
}

.disabled, .disabled:hover {
  background-color: gray;
}