body {
  background-color: #531;
}

.deck-discard {
  width: auto;
  margin: auto;
}

.deck, .discard {
  display: inline-block;
}

header, .game, footer {
  max-width: 700px;
  margin: auto;
  padding: 1%;
}

header, footer {
  background-color: white;
}

.game {
  background-color: #060;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0.2em;
}

.hand li {
  text-indent:-35px;
}

.discard li {
  text-indent:-50px;
}

.hand li:first-child, .discard li:first-child {
  text-indent:0;
}